GOOGLE_SHEET_ID=1D870M_wm3SZ5Peqd7Nt-b_kf4DziJ8HVG4CIFHtiIv0
GOOGLE_SHEET_NAME=PruebasChatbot
GOOGLE_APPLICATION_CREDENTIALS=./credentials/google-service-account.json

OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=mistral
OLLAMA_TIMEOUT_MS=45000

BOT_OWNER_NAME=
TIMEZONE=America/La_Paz

WHATSAPP_SESSION_PATH=./.wwebjs_auth
DEBUG_WHATSAPP_IDS=false
BOT_RESPONSE_DELAY_MS=45000
BOT_MAX_RESPONSE_DELAY_MS=60000
BOT_MAX_BUFFER_MESSAGES=8
